
<ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", "about" %></li>
</ul>

 <li><%= link_to "Posts", "posts" %></li>


<div class="center jumbotron">
 <h1>Welcome <%= current_user.name %> </h1>
 

</div>

<%= link_to image_tag("lama.jpg")%>